.animation{
  background: linear-gradient(to right,#ECE852, #059212,#06D001,#9BEC00,#ECE852 );
  background-size: 200%;
  background-clip: text ;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate-gradient 8s linear infinite;
}

@keyframes animate-gradient{
  to{
    background-position: 200%;
  }
}